* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

/*head-body*/

/*main*/

/*inicio pagina em construção*/ 
@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}
.bar-container {
  background-color: #F4C747;
  width: 450px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 0.65);
  box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 0.65);
}
.bar {
  min-height: 50px;
  border-radius: 10px;
  width: calc(113px * 4);
  background-color: #0000;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 40px,
    #000000 40px,
    #000000 80px
  );

  animation: slide 4s linear infinite;
  will-change: background-position;
}
@media only screen and (max-width: 450px) {
  .bar-container {
    width: calc(113px * 3);
  }
}
@media only screen and (max-width: 350px) {
  .bar-container {
    width: calc(113px * 2);
  }
}

.bar-container h3 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  color: #cfe0f0;
  text-shadow: 1px 1px 18px #000;
}

/*Fim pagina em construção*/ 

.logo {

  width: 250px;
  padding: 40px;
}

/*footer*/
footer{
  padding: 0px;
  margin: 0 auto;
}

.background_footer{
  position: fixed;
  bottom: 0;
  padding-top: 300px;
  width: 100%;
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(0,0,0,0.0) 100%);
}

.footer-text{
    font-size: 0.8rem;
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;

}

