* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

/*head-body*/

/*main*/



/*Fim pagina em construção*/ 

.logo {

  width: 250px;
  padding: 40px;
}

/*footer*/
footer{
  padding: 0px;
  margin: 0 auto;
}

.background_footer{
  position: fixed;
  bottom: 0;
  padding-top: 300px;
  width: 100%;
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(0,0,0,0.0) 100%);
}

.footer-text{
    font-size: 0.8rem;
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;

}

