* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

/*head-body*/

/*main*/

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* or any other value */
 }
 
 .text {
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  }

  .instagram{
    
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80px;
  }
  
/*Fim pagina em construção*/ 

.logo {

  width: 250px;
  padding: 40px;
}

/*footer*/
footer{
  padding: 0px 0px;
  margin: 0 auto;
 
}

.background_footer{
  position: flex;
  bottom: 0;
  padding-top: 300px;
  width: 100%;
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(0,0,0,0.0) 100%);
}

.footer-text{
    font-size: 0.8rem;
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;

}

/*reponsive img*/

@media only screen and (max-width: 480px) {
  .photo {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .photo {
    width: 100%;
  }
}